<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.first_java_app.k_login_signup">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.K_Login_Signup">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
<!--        </activity>-->
<!--        <activity android:name=".activity.WelcomeActivity" />-->
<!--        <activity android:name=".activity.OnboardingActivity" />-->
<!--        <activity android:name=".activity.OnboardingActivity1" />-->
<!--        <activity android:name=".activity.OnboardingActivity2" />-->
<!--        <activity android:name=".activity.LoginActivity" />-->
<!--        <activity android:name=".activity.SignUpActivity" />-->
<!--        <activity android:name=".activity.ProfileActivity" />-->
<!--        <activity android:name=".activity.Profile" />-->
<!--        <activity android:name=".activity.MenuListActivity"-->
<!--            android:exported="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value=".activity.LoginActivity" />-->
        </activity>
    </application>

</manifest>